:root {
    /* Primary */
    --darkCyan: hsl(185, 75%, 39%);
    --veryDarkDesatBlue: hsl(229, 23%, 23%);
    --darkGrayishBlue: hsl(227, 10%, 46%);

    /* Neutral */
    --darkGray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

/* Layout */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--darkCyan);
    background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 45vw bottom 45vh, left 45vw top 50vh;
}

.card-container {
    width: 19.4rem;
    height: 22.2rem;
    background: white;
    background-image: url('images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.name-and-age {
    display: flex;
    gap: .5rem;
    padding: 1rem 0 0 0;
}

.profile-stats {
    display: flex;
    gap: 2.5rem;
    padding: 1.5rem 0 0 0;
    border-top: .5px solid hsla(0, 0%, 59%, .5);
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Text */

h1, h2 {
    color: var(--veryDarkDesatBlue);
}

span {
    color: var(--darkGray);
}

.location {
    padding: 1rem 0 1.5rem 0;
    font-size: .8rem;
}

.stat-container span {
    font-size: .6rem;
    letter-spacing: .1rem;
}

/* Profile Image */

img {
    border-radius: 50%;
    border: 5px solid white;
    margin: 5rem 0 0 0;
}

/* Footer */

  .attribution { 
    font-size: 11px;
    text-align: center; 
}
  .attribution a {
    color: black;
    text-decoration: none;
    font-size: 11px;
}

footer {
    position: absolute;
    bottom: 0;
}